.feedback-container {
    -webkit-align-items: center;
    align-items: center;
    background-color: #DEDEDE;
    bottom: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    min-height: 850px;
    position: absolute;
    right: 0;
    top: 0;
}

.feedback-form:before {
    background: #fff url(letter.png) no-repeat center;
    border: 1px solid #e7e7e7;
    border-radius: 45px;
    content: "";
    display: inline-block;
    height: 90px;
    left: calc(50% - 45px);
    position: relative;
    top: -45px;
    width: 90px;
}

.feedback-form {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-sizing: border-box;
    padding: 0px 0px 90px 0px;
    width: 95%;
}

.feedback-form-row {
    display: -webkit-flex; 
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: column;
}

.feedback-form-row_submit {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
}

.feedback-form-row__header {
    color: #333;
    font-size: 30px;
    text-align: center;
}

.feedback-form-row__input {
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    flex-grow: 1;
    font-size: 20px;
    height: 60px;
    margin: 15px 10px;
    padding: 18px;
}

.feedback-form-row__input:focus {
    border: 1px solid #ff4b5a;
    outline: 0;
}

.feedback-form-row__input_text {
    font-size: 16px;
    height: 200px;
}

.feedback-form-row__button {
    background-color: #ff4b5a;
    border: 0px;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    height: 50px;
    margin: 15px 10px;
    width: 100px;
}

.feedback-form-row__button:hover {
    background-color: #333;
    cursor: pointer;
}

@media (min-width: 413px) {
    .feedback-form {
        padding: 0px 70px 90px 70px;
    }
}

@media (min-width: 800px) {
    .feedback-form-row {
        flex-direction: row;
    }
}

@media (min-width: 850px) {
.feedback-form {
        width: 800px;
    }
}
